@import './variables';

$primary: $blue;
$primary-light: $blue-light;
$primary-dark: $blue-dark;
$info: $blue-green;
$info-light: $cyan;
$info-dark: $blue-green-dark;
$success: $green;
$success-light: $green-light;
$success-dark: $green-dark;
$danger: $red;
$danger-light: $red-light;
$danger-dark: $red-dark;
$warning: $orange;
$warning-light: $orange-light;
$warning-dark: $orange-dark;